* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#header h1 {
  text-align: center;
  margin: 1rem 0;
}

#weather-data {
  width: 75%;
  height: 100%;
  margin: 0 auto;
  overflow: auto;
}

#weather-data form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.weather-chart {
  min-width: 300px;
  width: 100%;
  height: 100%;
}

#hourly-weather {
  height: 100%;
}
