* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: gray;
  padding: 10px 20px;
  border-radius: 10px;
}

#menu form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#symbolSelection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

#symbols {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.symbol-radio {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.symbol {
  border: 1px solid black;
  padding: 10px;
  cursor: pointer;
}

.symbol-radio:checked + .symbol {
  border: 2px solid #000;
}

#gameBoard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px;
}

.square {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

#startBtn {
  padding: 5px 10px;
  border-radius: 5px;
}

#restartBtn {
  display: none;
  padding: 5px 10px;
  border-radius: 5px;
}
