* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: fit-content;
  width: 100%;
}

header #dark-film {
  z-index: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

#coffee-logo {
  z-index: 1;
  height: 100px;
  width: 150px;
  margin: 10px 0px;
  margin-left: 5px;
  border-radius: 10px;
}

nav {
  z-index: 1;
  display: flex;
  justify-content: space-around;
  margin-right: 5px;
}

nav button {
  padding: 10px 5px;
  background: transparent;
  border: 0;
  width: 100px;
  color: white;
}

.nav-button:hover {
  background: white;
  color: black;
  border-radius: 5px;
}

.nav-button.active {
  background: white;
  color: black;
  border-radius: 5px;
}

#content {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 100px;
}

#content .home-heading {
  font-size: 50px;
  max-width: 500px;
}

#content .home-description {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.75);
}

#content .menu-heading {
  font-size: 40px;
  text-align: center;
}

#content .menu-group {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 24px;
  flex-wrap: wrap;
}

#content .menu-box {
  flex: 1 1 240px;
  max-width: 320px;
  padding: 20px;
}

#content .menu-subheading {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}

#content .menu-item {
  font-size: 20px;
  margin-bottom: 5px;
  list-style-type: none;
}

@media (max-width: 500px) {
  header {
    flex-direction: column;
  }

  #content {
    padding: 20px;
  }

  #content .home-heading {
    font-size: 40px;
  }

  #content .home-description {
    font-size: 15px;
  }

  #content .menu-group {
    flex-direction: column;
    gap: 0;
  }

  #content .menu-box {
    text-align: center;
  }
}
